<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
<!--     <link href="~/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
 -->    
 
    
    <title>@ViewBag.Title</title>

</head>

<body>
  

    <div>
        <%- body %>
    </div>


</body>


</html>
