


<br/>

<% if (data.typeCategory == "SubCategory") { %>
    <h5 class="text-center">آیا تمایل به حذف زیردسته</h5>
    <br/>

    <h3 class="text-center"> <%= data.category.SubCategoryName %> </h3>
    <br/>

    <h5 class="text-center">هستید؟ درصورت حذف امکان بازگشت وجود ندارد</h5>

<% } else { %>
    <h5 class="text-center">آیا تمایل به حذف دسته</h5>
    <br/>

    <h3 class="text-center"> <%= data.category.CategoryPersianName %> </h3>
    <br/>

    <h5 class="text-center">هستید؟ درصورت حذف امکان بازگشت وجود ندارد</h5>
<% } %>
<div>

    <br/>
    <br/>


    <form asp-action="DeleteCity">

        <input type="submit" value="حذف شود" class="btn btn-danger btn-block" />
    </form>
</div>
